<div class="col-md-12">
  <div class="pull-right" style="margin-left:20px">
    <span> {{recordsStart}} - {{recordsEnd}} of {{pageContext.total_rows}} </span>
    <div class="inline-block" style="margin-left:20px">
      <span style="margin-left:20px" {{action 'gotoFirstPage'}}>{{fa-icon "angle-double-left" class="pointer"}}</span>
      <span style="margin-left:20px" {{action 'gotoPrevPage'}}>{{fa-icon "angle-left" class="pointer"}}</span>
      <span style="margin-left:20px" {{action 'gotoNextPage'}}>{{fa-icon "angle-right" class="pointer"}}</span>
      <span style="margin-left:20px" {{action 'gotoLastPage'}}>{{fa-icon "angle-double-right" class="pointer"}}</span>
    </div>
  </div>
  <form class="form-inline pull-right">
    <div class="form-group">
      <span>Items per page: </span>
      {{select content=PER_PAGES selectedValue=pageContext.per_page on-change='updatePerPage' class="pageBar inline-block"}}
    </div>
  </form>
</div>
