{{#modal-dialog label=label closeModal='closeModal'}}
<div class="modal-content"  id={{modalId}}>
  <div class="modal-header">
    {{label}}
    <button type="button" class="close" {{action 'closeModal'}}>&times;</button>
  </div>
  <div style="padding:10px">
    {{partial 'formerrors'}}
    <form class="form-horizontal" role="form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label ast">First Name</label>
            <div>
              {{input name="first_name" type="text" class="form-control" value=modalData.first_name placeholder="First Name"}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label ast">Last Name</label>
            <div>
              {{input name="last_name" type="text" class="form-control" value=modalData.last_name placeholder="Last Name"}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label ast">Email</label>
            <div>
              {{input name="email" type="text" class="form-control" value=modalData.email placeholder="Email"}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label ast">Mobile</label>
            <div>
              {{input name="mobile" type="text" class="form-control" value=modalData.mobile placeholder="Mobile"}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label ast">Locaton Type</label>
            <div>
              {{select name="location_type" content=location_types selectedValue=modalData.location_type}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label ast">Location String</label>
            <div>
              {{input name="location_string" type="text" class="form-control" value=modalData.location_string placeholder="Location String"}}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group action-btns text-center">
        <button type="submit" class="btn btn-primary" {{action 'closeModal'}}>Close</button>
        <button type="submit" id="save" class="btn btn-dark" {{action 'saveLead'}}>Save</button>
      </div>
    </form>
  </div>
</div>
{{/modal-dialog}}
